{{ define "main" }}
<div class="columns">
  <div class="column">
    <section class="section">
      <div class="container mb-6">
        <h1 class="title is-1 has-text-centered">{{ .Title }}</h1>
        <h3 class="subtitle">
          <span class="tag is-link">{{ .ReadingTime }} Minutes</span>
          <span class="tag is-dark">{{ .Date.Format "Jan 2, 2006" }}</span>
          <span class="tag is-warning">{{ .WordCount }} Words</span>
        </h3>
        <div>
          <article class="content">
            {{ .Content }}
          </article>
        </div>
      </div>
    </section>
      <div class="section">
        <div class="container">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                {{ with .PrevInSection }}
                <a class="pagination-previous" href="{{ .Permalink }}"> {{.Title}}</a>
                {{ end }}
              </div>
            </div>
            <div class="level-right">
              <div class="level-item">
                {{ with .NextInSection }}
                <a class="pagination-next" href="{{ .Permalink }}"> {{.Title}}</a>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
{{ end }}